* {
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: rgb(254, 255, 239);
}

button {
  background-color: rgb(78, 84, 33);
  color: rgb(254, 255, 239);
  font-size: 16px;
  border: none;
  padding: 7px 15px;
  border-radius: 5%;
  font-weight: 500;
}