.details {
  margin: 25px 5px;
}

.details .wide {
  display: none;
}

.details h2 {
  padding: 10px 0;
}

.details img {
  padding: 10px 0;
  justify-self: center;
}

.details p {
  text-align: left;
  padding: 10px;
}

.details .buttons {
  display: flex;
  justify-content: space-evenly;
}

.details .buttons .delete-button {
  background-color: #b30606;
}

@media screen and (min-width: 701px) {
  .details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 100px 12%;
  }

  .details .narrow {
    display: none;
  }

  .details .wide {
    display: inline;
  }

  .details .words {
    text-align: left;
    margin-left: 40px;
  }

  .details .words p {
    padding: 10px 0;
    margin: 10px 0;
  }

  .details img {
    grid-column: 1 / 2;
    max-width: 100%;
  }

  .details .buttons {
    justify-content: flex-start;
  }

  .details .buttons button {
    margin-right: 30px;
  }
}