.book-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.book-list .book {
  margin: 10px;
  justify-content: center;
}

.book-list .book h2 {
  margin-bottom: auto;
}

.book-list .book img {
  max-width: 70%;
}

.book-list .book a {
  margin-top: auto;
}

@media screen and (max-width: 1250px) {
  .book-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 850px) {
  .book-list {
    grid-template-columns: 1fr;
  }
}