.books-page label {
  padding: 5px;
}

.books-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.books-page form .form-group {
  margin: 5px;
}

.books-page select {
  padding: 2px;
}

.book-list {
  display: grid;
  grid-template-columns: 1fr;
}

.book-list .book {
  margin: 10px;
  justify-content: center;
}

.book-list .book h2 {
  margin-bottom: auto;
}

.book-list .book img {
  max-width: 70%;
}

.book-list .book a {
  margin-top: auto;
}

#to-top {
  padding: 25px;
  font-size: 20px;
}

@media screen and (min-width: 700px) {
  .books-page form {
    flex-direction: row;
  }
}

@media screen and (min-width: 850px) {
  .book-list {
    grid-template-columns: 1fr 1fr;
  }
  #to-top {
    display: none;
  }
}

@media screen and (min-width: 1250px) {
  .book-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}