header {
  margin-bottom: 20px;
}

header .header {
  background-color: rgb(78, 84, 33);
  color: rgb(233, 238, 188);
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 84px;
}

header .header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
}

header .header button {  
  background-color: rgb(78, 84, 33);
  margin-left: auto;
  border: none;
  display: none;
}

header .header button i {
  color: rgb(233, 238, 188);
}

header .nav-container nav {
  background-color: rgb(233, 238, 188);
  display: flex;
  padding: 0 12%;
}

header .nav-container nav a {
  text-decoration: none;
  padding: 15px 10px;
  color: rgb(78, 84, 33);
  flex: 1 1 0px;
  font-size: 24px;
}

header .nav-container nav a:hover, header .nav-container nav a.active {
  background-color: #c9da5f;
}

@media screen and (max-width: 700px) {
  header .header button {
    display: inline-block;
  }

  header .nav-container {
    display: flex;
    justify-content: flex-end;
  }

  header .nav-container nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    min-width: 60%;
  }

  header .nav-container nav.collapsed {
    display: none;
  }

  header .nav-container nav a {
    width: 100%;
    font-size: 24px;
    padding: 30px;
  }
}