.roulette {
  display: flex;
  flex-direction: column;
  margin: 5px 25px;
  align-items: center;
  max-height: fit-content;
}

.roulette p {
  margin: 5px;
  text-align: left;
  width: 100%;
}

.roulette .wide {
  display: none;
}

.roulette > img {
  max-width: 100%;
  margin: 10px;
  max-height: 40vh;
}

.roulette .book {
  width: 100%;
  max-height: fit-content;
  margin: 10px;
}

.roulette .book h2 {
  font-size: 24px;
}

.roulette .book img {
  max-height: 40vh;
  width: auto;
}

@media screen and (min-width: 750px) {
  .roulette {
    margin: 10px 12%;
  }

  .roulette p {
    margin: 10px;
  }

  .roulette > img {
    width: 30%;
    max-height: 500px;
    margin: 20px;
  }
  
  .roulette .wide {
    display: block;
  }

  .roulette .book h2 {
    font-size: 36px;
  }

  .roulette .book img {
    max-height: 75vh;
  }
}