.roulette {
  display: flex;
  flex-direction: column;
  margin: 0 12%;
  align-items: center;
  max-height: fit-content;
}

.roulette p {
  margin: 10px;
  text-align: left;
  width: 100%;
}

.roulette > img {
  max-width: 50%;
  margin: 20px;
}

.roulette .book {
  width: 100%;
  max-height: fit-content;
  margin: 20px;
}

.roulette .book img {
  max-height: 75vh;
  width: auto;
}

.roulette button {
  width: fit-content;
}